.cabecalhoPrincipal .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal-cursos {
    
}

.rodapePrincipal-navMap-list {
    display: flex;
    height: 255px;
    flex-direction: column;
    flex-wrap: wrap;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    gap: 10px;
}
